.app {
  width: 500px;
  margin: 0 auto;
}

ol,
ul {
  padding-left: 30px;
}
.board-row::after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 30px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  width: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.game-info {
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .app {
    width: 98%;
    overflow: hidden;
  }
  .game {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
